

<form action="/cadastrado" method="POST">
    <p>Nome: </p>
    <input type="text" name="nome">
    <p>Senha: </p>
    <input type="password" name="senha">
    <p>E-mail: </p>
    <input type="text" name="email">
    <p>Idade: </p>
    <input type="number" name="idade">
    <button type="submit" name="" class="btn bg-primary text-white">Cadastrar usuário</button>
</form> 