<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/"><h1 class="font-weight-light bg-white">#<strong>POSTS</strong></h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ml-3">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cad">Cadastrar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <a href="/search"><button class="btn btn-outline-success my-2 my-sm-0" name="btn-search" type="submit">Search</button></a>
    </form>
  </div>
</nav>
        <form action="/add" method="POST">
            <div class="ml-4 mt-3">
            <h2 class="text-sucess font-weight-light">Cadastrar Post</h2>
            <p class="font-weight-light ">Título : </p>
            <input type="text" name="titulo" class="mt-n3 form-control mr-sm-2 w-25">
            <p class="mt-2 font-weight-light">Conteúdo: </p>
            <textarea name="conteudo" class="mt-n3 form-control mr-sm-2 w-25"></textarea>
            <br>
            <button type="submit" name="" class="btn btn-outline-success my-2 my-sm-0">Cadastrar postagens</button>
            </div>
        </form>
<hr>
